@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
  font-family: "Noto Sans", sans-serif;
}

body {
  background-color: white;
}

header {
  padding: 22px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  position: relative;
  align-self: center;
}

#root > main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main > div {
  display: flex;
  flex-direction: column;
}

.search-container {
  margin: auto;
  align-self: center;
  margin-top: 22%;
}

.textBox {
  width: 230px;
  height: 30px;
  padding: 12px;
  border-radius: 5px;
  border: none;
  transition: 600ms;
}

.textBox-day {
  background-color: #191919;
  width: 230px;
  height: 30px;
  padding: 12px;
  border-radius: 5px;
  border: none;
  transition: 600ms;
  color: white;
}

.textBox:focus,
.textBox-day:focus {
  outline: 0;
  transform: translateY(-18px);
  transition: 600ms;
}

.textBox-day::placeholder {
  color: white;

  opacity: 0.7;
}

.textBox::placeholder {
  color: #191919;

  opacity: 0.7;
}

.night {
  background-color: #191919;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: none;
}

a:active {
  color: black;
}

.a {
  color: white;
}

div > ul {
  margin: 42px;
}
ul {
  display: flex;
  gap: 10px;
  list-style: none;
  flex-wrap: wrap;
}

li {
  text-decoration: none;
  background-color: #5f6f52;
  height: fit-content;
  padding: 5px;
  font-size: 12.5px;
  color: white;
  border-radius: 5px;
}
