@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
  font-family: "Noto Sans", sans-serif;
}

body {
  background-color: white;
}

header {
  padding: 22px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  position: relative;
  margin: auto;
}

#root > div {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.search-container {
  margin: auto;
  align-self: center;
  margin: auto;
}

.textBox {
  width: 230px;
  height: 30px;
  padding: 12px;
  border-radius: 5px;
  border: none;
  transition: 600ms;
}

.textBox-day {
  background-color: #191919;
  width: 230px;
  height: 30px;
  padding: 12px;
  border-radius: 5px;
  border: none;
  transition: 600ms;
}

.textBox:focus,
.textBox-day:focus {
  outline: 0;
  transform: translateY(-18px);
  transition: 600ms;
}

.textBox-day::placeholder {
  color: white;
}

.textBox::placeholder {
  color: #191919;
}

.night {
  background-color: #191919;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: none;
}

a:active {
  color: black;
}

.a {
  color: white;
}
